@import './fonts/fonts.scss';
@import './variables/variables.scss';
@import './reset/reset.scss';


.app {
    font-family: "Roboto";
    background-color: var(--background-color);
    min-height: 100vh;
}