
:root{
    --background-color: #F6F6F6;
    --dark-color: #373745;
    --background-color-navbar: #FFFFFF;
    --green-color: #60C2AA;
    --pink-color: #E38BAC;
    --pink-status-color: #EC7777;
    --red-color: #E93E3E;
    --grey-color: #F7F7F7;
    --box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    --fade-shadow: #F6F6F6 @ 37.38%
    rgba(255, 255, 255, 0) @ 100%
}