
.ActivePlayerPage{
    margin-top: 80px;
    color: var(--dark-color);
}

.activePlayerHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.title{
    font-family: 'Roboto';
    font-size: 24px; 
    line-height: 1.5;
    font-weight: 700;
}

.textToggle{
    display: flex;
    align-items: center;
    gap: 8px;
}

.text{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.24px;
}