.GameBoard {
    width: 663px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 4px;
}

.cell {
    cursor: pointer;
    width: 218.33px;
    height: 218.33px;

    background: #FFFFFF;
    border-radius: 12px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
     gap: 4px;
     flex: 0 1 662px;
}