
th{
    font-weight: 400;
    padding: 14.5px 10px;
}

tr{
    box-shadow: inset 0px -1px 0px #EEEFF5;
}

.HistoryList{
    width: 100%;
    color: var(--dark-color);
    text-align: left;
}


.listHeader{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.24px;
    line-height: 1.5;
    padding: 8px 8px;
}


.HistoryOneRow{
    font-weight: 400;
}

.player{
    display: flex;
    align-items: center;
    gap: 8px;
}


.versus{
    font-weight: 700;
}


