
.message{
    width: 352px;
    padding: 12px;
    border-radius: 20px;
    background-color: white;
    box-shadow: var(--box-shadow);
}

.header{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 8px;
}

.name{
   font-weight: 500;
}

.time{
    color: #898993;
}

.text{
    color: var(--dark-color);
}

.cross{
    align-self: flex-start;
    color: var(--green-color);
    border-bottom-left-radius: 0;

}

.circle{
    align-self: flex-end;
    color: var(--pink-color);
    border-bottom-right-radius: 0;
}

