
.Modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -5;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease 0s;
}

.background{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}


.modalWindow {
    position: relative;
    max-width: 100%;
    border-radius: 20px;
    padding: 24px 24px 40px;
    background-color: white;
    color: var(--dark-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    transform: scale(0);
    transition: transform 440ms ease 0s;
}

.button{
    align-self: flex-end;
}

.show {
    opacity: 1;
    pointer-events: auto;
    z-index: 5;
}

.showContent {
    transform: scale(1);
 }