
.opponentsWindow {
    background-color: white;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    padding: 24px;
    max-width: 500px;
}

.content{
    font-family: 'Roboto';
    color: var(--dark-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.opponent{
    display: flex;
    align-items: flex-start;
    gap: 11px;
}

.title{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
}


.statistic{
    font-size: 14px;
    letter-spacing: 0.25px;
    color: #898993;
}

