.row{
    display: flex;
    align-items: center;
    // justify-content: space-between;
    padding: 9.5px 8px;
    gap: 16px;
    border-bottom: 1px solid #EEEFF5;
}

.name{
    flex: 0 1 424px;
}

.age{
    flex: 0 1 108px;
}

.emoji{
    flex: 0 0 46px;
}

.status{
    // flex: 0 0 136px;
    min-width: 136px;
    height: 32px;
}

.date{
    flex: 0 1 144px
}

.button{
    flex: 0 0 183px;
    
}