
.Link{
    font-family: 'Roboto';
    text-decoration: none;
    color: var(--dark-color);
    line-height: 1.5;
    font-weight: 500;
    padding: 4px 12px;
    transition: all 400ms ease 0s;
    
    &:hover{
        border-radius: 200px;
        background-color: var(--green-color);
        color: white;
    }
}

.active{
    border-radius: 200px;
    background-color: var(--green-color);
    color: white;
}

@media (max-width:1020px) {
    .Link{
        font-size: 14px;
    }
}