
.radioGroup{
    display: flex;
    gap: 8px;
}

.radioInput{
    position: absolute;
    left: -10000px;

}

.radioContainer{
    cursor: pointer;
    position: relative;
    width: 48px;
    height: 48px;
    padding: 8px;
    background-color: white;
    border: 1px solid #DCDCDF;
    border-radius: 50%;
    transition: all 300ms ease 0s;

    &:hover{
        border: 1px solid var(--green-color);
    }
}

.checked{
    background-color: var(--green-color);
    border: 1px solid var(--green-color);
}

.radio{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}