
.TurnSize{
    color: white;
    font-family: "Roboto";
    background-color: var(--dark-color);
    max-width: 600px;
    padding: 12px 57px;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

}