
.timer {
    padding: 24px;
    text-align: center;
    background-color: #EDEDED;
    max-width: 139px;
    display: flex;
    justify-content: center;
}

.content{
    color: var(--dark-color);
    font-weight: 900;
    font-size: 34px;
    letter-spacing: 0.25px;
    line-height: 1;
}
