
.container{
    display: flex;
    flex-direction: column;    
    gap: 20px;
}

.NoButtons button{
    display: none;
}

.title{
    align-self: center;
}

.cupImage{
    max-width: 132px;
    max-height: 165.36px;
    margin: 0 auto;
}

.buttons button {
    display: inline-block;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

