
.AuthorizationWindow{
    // padding: 40px 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image{
    max-width: 132px;
    max-height: 132px;
    align-self: center;
}

.title{
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    align-self: center;
}



