/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 14px;
}

/* Hide default HTML checkbox */
.switch .toggleInput {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: -3px;
  background-color: #f7f7f7;
  border: 1px solid #DCDCDF;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggleInput:checked + .slider {
  background-color: #60C2AA;
}

// .toggleInput:focus + .slider {
//   box-shadow: 0 0 1px #2196F3;
// }

.toggleInput:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(17px);
  background-color: #3BA189;
  border: 1px solid #3BA189;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}