
.GameFieldPage{
    padding: 60px 40px;
}

.GameField{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 40px;
}

.centralContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.alignOpponentsWindow{
    align-self: flex-start;
}


.chat{
    align-self: flex-end;
    width: 412px;
    
}

.turnSizePosition{
    text-align: center;
}