
.NavbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--background-color-navbar);
    box-shadow: var(--box-shadow);
    border-radius: 0px 0px 16px 16px;
}

.nav{
    display: flex;
    column-gap: 40px;
    justify-content: space-between;
}

.hover * {
    transition: all 300ms ease 0s;
    &:hover * {
        fill: var(--green-color);
    }
}

.burger{
    display: none;
}

@media(max-width: 950px){
    .nav{
        display: none;
    }

    .navAdaptive{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 50px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 40;
        transition: all 300ms ease 0s;
    }
   
    .logout{
        display: none;
    }

    
    .burger{
        display: block;
    }
}
