
.addPlayerForm {
    display: flex;
    flex-wrap: wrap;
    max-width: 352px;
    // flex-direction: column;
    // justify-content: center;
    gap: 20px;
}


.title {
    flex: 1 1 auto;
    font-family: 'Roboto';
    font-weight: 700;
    text-align: center; 
    color: var(--dark-color);
}

.InputLabel {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.24px;
}

.widthInputName{
    flex: 0 1 352px;
}

.inputGroup{
    display: flex;  
    flex-wrap: wrap;
    gap: 40px;
    
    &AgeInput{
        max-width: 72px;
    }
}


.button{
    width: 100%;
}
