
.button{
    font-family: "Roboto";
    cursor: pointer;
    border: none;
}

.green{
    background-color: var(--green-color);
    transition: all 400ms ease 0s;
    color: white;

    &:hover{
        background-color: #3BA189;
    }

    &:disabled{
        cursor: auto;
        background-color: rgba(96, 194, 170, 0.3);
    }
}

.grey{
    background-color: var(--grey-color);
    color: var(--dark-color);
    transition: all 400ms ease 0s;

    &:hover{
        background-color: #DCDCDF;
    }

    &:disabled{
        cursor: auto;
        opacity: 0.3;
    }
}

.normal {
    padding: 12px 20px;
    // color: white;
    font-weight: 500;
    // background-color: var(--green-color);
    // transition: all 400ms ease 0s;
    line-height: 1.28;
    letter-spacing: 0.24px;
    border-radius: 12px;

}

.clear{
    background-color: transparent;
    border: none;
    max-width: 18px;
    max-height: 18px;

    &:hover{
        background-color: transparent;
    }
}

.message{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 12px;

}

.ban{
    display: flex;
    align-items: center;
    gap: 10px;
}