
.Status {
    font-family: 'Roboto';
    line-height: 1.28;
    font-size: 16px;
    padding: 6px 12px;
    letter-spacing: 0.24px;
    border-radius: 6px;
    color: white;
    text-align: center;
}

.ready {
    background-color: #A8D37F;
}

.blocked {
    background-color: var(--pink-status-color);
}

.already_play {
    background-color: #87CAE8;
}

.logout {
    color: var(--dark-color);
    background-color: #EDEDED;
}