
.formContainer{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.inputPare{
  max-width: 100%;
}

.authFormInput{
    width: 100%;
}

.errorMessage{
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 1.33;
    color: var(--red-color);

}