.Input{
    font-size: 16px;
    padding: 14px 20px;
    background-color: white;
    border: 1px solid #DCDCDF;
    border-radius: 12px;
    transition: all 400ms ease 0s;
    &::placeholder{
        color: #b1b1b7;
        font-size: 16px;
        line-height: 1.28;
        letter-spacing: 0.24px;
    }
}

.normal {
    
    &:hover{
        border-color: var(--green-color);
    }

    &:focus{
        border-color: #3BA189;
        outline: none;
    }

}

.error{
    border-color: var(--red-color);
}
