th{
    font-family: 'Roboto';
    color: var(--dark-color);
    font-weight: 400;
    padding: 12px 16px;

    &:not(:last-child){
        margin-right: 16px;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
tr {
    border-bottom: 1pt solid #EEEFF5;
}

.name{
    width: 250px;
    text-align: left;
    letter-spacing: 0.24px;
}

.allGame{
    text-align: left;
    width: 108px;
}

.win{
    color: #69B849;
    text-align: left;
    width: 108px;

}

.lose{
    color: #E93E3E;
    text-align: left;
    width: 108px;
}

.persent{
    width: 118px;
    text-align: left;
}


.reset{
    color: var(--dark-color);
}

.weight{
    font-weight: 500;
}