
.cell {
    cursor: pointer;
    // width: 218.33px;
    flex: 0 1 218.33px;
    height: 218.33px;


    background: #FFFFFF;
    border: none;
    border-radius: 12px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
