.name{
    width: 360px;
}

.activePlayerRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;
}

.statusWidth {
    flex: 0 0 100px;
    width: 100px;
    height: 32px;
    text-align: center;
}
