
.Chat {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    
}

.messages {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 412px;
    max-height: 384px;
    overflow-y: auto;
    padding-bottom: 7px;
    padding-top: 14px;
}

.fade {
    position: absolute;
    left: 0;
    bottom: 48px;
    background: linear-gradient(180deg, #F6F6F6 37.38%, rgba(255, 255, 255, 0) 100%);
    transform: rotate(-180deg);
    width: 97%;
    height: 32px;
}

.fadeTop {
    position: absolute;
    z-index: 10;
    top: -60px;
    left: 0;
    width: 97%;
    height: 100px;
}

.fadeTopVisible {
    background: linear-gradient(180deg, #F6F6F6 37.38%, rgba(255, 255, 255, 0) 100%);
}

.notYetMessages {
    color: #898993;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}